:host {
    display: flex;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

:host:hover {
    background-color: rgba(var(--foreground-color), 0.15);
}

:host:active {
    background-color: rgba(var(--foreground-color), 0.05);
}

:host.active {
    background-color: rgba(var(--foreground-color), 0.3);
}

.image {
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(var(--foreground-color), 0.4);
    overflow: hidden;
}

.no-image {
    height: 18px;
    width: 18px;
    background-color: rgba(var(--background-color));
    border-radius: 30px;
    margin: auto;
    margin-top: 5px;
}

.no-image:last-child {
    height: 40px;
    width: 40px;
    margin-top: 2px;
}

.texts-wrapper {
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
    overflow: hidden;
}

.heading {
    font-size: var(--small-font);
    font-weight: bold;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}

.sub-heading {
    font-size: 13px;
    opacity: 0.6;
    height: 50px;
    overflow: hidden;
    max-width: 100%;
}

.sub-heading-active {
    opacity: 1;
}

.notification-count {
    width: 20px;
    height: 20px;
    background-color: rgb(var(--primary-color));
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
}