<div class="message-box">
    no messages yet
</div>
<div class="list">
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
    <app-small-profile heading="Lionel Messi dfd df" subHeading="this ijd dh adhf djhad fjahdf jadf ajdfhjafhd jadh jasdhf da"></app-small-profile>
</div> 