:host {
    display: flex;
    padding: 20px;
    flex-grow: 1;
    flex-direction: column;
}

.search-results {
    height: 100%;
}

.no-search-results {
    width: fit-content;
    max-width: 80%;
    margin: auto;
    margin-top: 30%;
}