:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(var(--primary-color));
    border-radius: 10px;
    font-size: var(--small-font);
    color: rgb(var(--background-color));
    transition: all 0.2s;
    cursor: pointer;
}

:host.accept {
    background-color: green;
}

:host.reject {
    background-color: red;
}

:host.option {
    background-color: rgb(var(--background-color));
    color: rgb(var(--foreground-color));
    border: 1px solid rgba(var(--foreground-color), 0.4);
}

:host.cancel {
    background-color: rgb(var(--foreground-color));
    color: rgb(var(--background-color));
}

:host:hover {
    opacity: 0.6;
}

.loading {
    height: calc(var(--small-font));
    width: calc(var(--small-font));
    border-top: 3px solid rgb(var(--background-color));
    border-bottom: 3px solid rgb(var(--background-color));
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 20px;
    animation: rotate 1s infinite;
    transform: scale(1.2);
}

.loading.option {
    border-top: 3px solid rgb(var(--foreground-color));
    border-bottom: 3px solid rgb(var(--foreground-color));
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1.2);
    }
    to {
        transform: rotate(360deg) scale(1.2);
    }
}