:host {
    font-size: var(--medium-font);
    font-weight: bold;
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
}

:host.active {
    transform: translateX(15px);
}